* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

:root {
    --blue: #3E4794;
    --purple: #965CF2;
    --pink: #FF8ADC;
    --light-purple: #CBADF8;
    --ligth-pink: #FFC4ED;
}

.main-div {
    width: 80%;
    margin: 0 auto;
    font-family: Roboto;
}

button {
    border-radius: 5rem;
    padding: 0.2rem 1rem;
    border: none;
    background: linear-gradient(90deg, var(--purple), var(--pink));
    color: white;
    font-family: Roboto;
}

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */

nav {
    display: flex;
    /* background-color: #CBADF8; */
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
}

nav>img {
    height: 3.5rem;
}

.nav-items {
    display: flex;
    gap: 4rem;
    font-size: 1.6rem;
    color: var(--blue);
}

/* @media (width >= 1024px){ */

.fa-bars.fa-solid {
    display: none;
}

/* } */

/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */
.intro-section {
    display: flex;
}

.left-section {
    width: 40%;
    margin-top: 13rem;
    display: inline-block;
}

h1 {
    font-size: 7rem;
    color: var(--blue);
}

h4 {
    font-size: 1.7rem;
    font-weight: 400;
    color: #656989;
    margin: 5rem 0;
    width: 65%;
    line-height: 2.5rem;
}

.learn-more-btn {
    font-size: 2.5rem;
    padding: 1rem 2.5rem;
}

.imgs-div {
    position: relative;
    width: 54%;
    display: inline-block;
}

.intro-img,
.vector-img,
.vector-dot {
    position: absolute;
}

.vector-img {
    top: 50rem;
}

.vector-dot {
    top: 50rem;
    left: 5rem;
}

.intro-img {
    position: absolute;
    height: 85vh;
    width: 50vw;
    left: 1rem;
}

.backcover {
    /* display: none; */
    position: absolute;
    top: -22rem;
    left: 0rem;
    z-index: -10;
    height: 58vw;
}

/* ------------------------------ */
@media (width <=768px) {

    .nav-items,
    .signin-btn {
        display: none;
    }

    .fa-bars.fa-solid {
        display: block;
    }

    .imgs-div,
    .left-section {
        text-align: center;
        display: block;
        width: 100%;
        height: fit-content;
        position: static;
    }

    .left-section {
        margin:0;
    }

    h1{
        font-size: 5rem;
    }

    h4 {
        /* border: 2px solid var(--blue); */
        width: 100%;
        margin: 4rem 0;
    }

    .intro-section {
        display: flex;
        flex-direction: column-reverse;
    }


    .imgs-div {
        /* border: 2px solid var(--blue); */
        margin-top: 5rem;
        position: relative;
    }

    .intro-img {
        display: block;
        position: static;
        width: 100%;
    }

    .vector-img,
    .vector-dot {
        /* display: none; */
        position: absolute;
        margin: 0;
        left: 0;
        top: 30rem;
        width: 20vw;
    }

    .vector-dot {
        left: 5rem;
        width: 5vw;
    }

    .backcover {
        display: none;
        position: fixed;
        left: 0;
        top: -10;
        width: 160vw;
        margin-top: 5rem;
    }

}

@media (width > 768px) and (width <= 1024px){
    .imgs-div {
        margin-top: 10rem;
        width: 100%;
    }

    .left-section {
        width: 100%;
    }

    h1 {
        font-size: 5rem;
    }

    h4 {
        margin-inline: 0rem;
        width: 100%;
    }

    .vector-dot, .vector-img{
        top: 30rem;
    }

}